*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Playfair Display", sans-serif;
  --bg-white: #fff;
  --bg-light: #f3eed9;
  --bg-brown: #824936;
  --bg-dark: #222c2a;
}

body {
  margin: 0;
  font-family: var(--font-primary);
}

p,
h1,
h2 {
  margin: 0;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 2em 2em;
}

.col {
  display: flex;
  gap: 3em;
}

.col > * {
  flex-basis: 100%;
}

img {
  width: 100%;
}

.center-text {
  text-align: center;
}
.main {
  background-color: var(--bg-light);
  min-height: auto;
  min-height: 41.25em;
  display: flex;
  align-items: center;
}

.main__paragraph {
  color: var(--bg-dark);
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.main__heading {
  font-family: var(--font-secondary);
  font-size: 3.7rem;
  color: var(--bg-brown);
  max-width: 70%;
  margin: 0 auto;
  margin-top: 0.2em;
}

.first-section {
  min-height: 27em;
  display: flex;
  align-items: center;
}

.first-section__heading {
  font-family: var(--font-secondary);
  font-size: 2.2rem;
  color: var(--bg-brown);
}

.first-section__paragraph {
  font-family: var(--font-primary);
  color: var(--bg-dark);
  font-size: 1.3rem;
  margin-top: 2em;
  text-align: left;
  line-height: 1.5;
}

.second-section {
  background-color: var(--bg-dark);
  color: var(--bg-white);
  min-height: 27em;
  display: flex;
  align-items: center;
}

.second-section__heading {
  font-family: var(--font-secondary);
  color: var(--bg-light);
  font-size: 2.2rem;
}

.second-section__paragraph {
  font-family: var(--font-primary);
  font-size: 1.3rem;
  margin-top: 1em;
  text-align: left;
  line-height: 1.5;
  font-weight: 200;
}

.third-section {
  background-color: var(--bg-brown);
  color: var(--bg-white);
  min-height: 27em;
  display: flex;
  align-items: center;
}

.third-section__heading {
  font-family: var(--font-secondary);
  color: var(--bg-light);
  font-size: 2.2rem;
}

.third-section__paragraph {
  font-family: var(--font-primary);
  font-size: 1.3rem;
  margin-top: 1em;
  text-align: left;
  line-height: 1.5;
  font-weight: 200;
}
