*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

.hero {
  background-color: #f3eed9;
  text-align: center;
  min-height: 660px;
}

.hero__span {
  display: block;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.4em;
  font-weight: 300;
}

.hero__heading {
  margin: 0.3em auto 0;
  color: #824936;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 3.8rem;
  line-height: 1;
  width: 70%;
}

.first-section {
  text-align: left;
  min-height: 400px;
}

.first-section__heading {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.3rem;
  color: #824936;
  margin: 0.5em 0;
}

.first-section__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #222c2a;
}

p + p {
  margin-left: 2em;
}

.first-section__wrapper {
  margin: 0 auto;
  line-height: 1.4;
  display: flex;
}

.second-section {
  background-color: #222c2a;
  min-height: 400px;
}

.second-section__text-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.second-section__image-wrapper {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.second-section__heading {
  text-align: left;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.3rem;
  color: #f3eed9;
  margin: 0;
}

.second-section__text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

.container.row {
  justify-content: space-between;
}

.third-section {
  background-color: #824936;
  min-height: 400px;
}

.third-section__text-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.third-section__image-wrapper {
  width: 55%;
  display: flex;
  justify-content: flex-start;
}

.third-section__heading {
  text-align: left;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.3rem;
  color: #f3eed9;
  margin: 0;
}

.third-section__text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}
